$bg-primary:        #424242;
$bg-secondary:      #a5d6a7;
$bg-primary-light:  #6d6d6d;
$bg-primary-dark:   #1b1b1b;

$text-primary:       #fff;
$text-secondary:     #000;
$text-primary-hover: #aaa;

$font-header:        'Montserrat', sans-serif;
$font-text:          'Roboto', sans-serif;

$card-border:        #fff;